<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.yupicturebackend.mapper.SpaceMapper">

    <resultMap id="BaseResultMap" type="com.yupi.yupicturebackend.model.entity.Space">
        <id property="id" column="id"/>
        <result property="spaceName" column="spaceName"/>
        <result property="spaceLevel" column="spaceLevel"/>
        <result property="spaceType" column="spaceType"/>
        <result property="maxSize" column="maxSize"/>
        <result property="maxCount" column="maxCount"/>
        <result property="totalSize" column="totalSize"/>
        <result property="totalCount" column="totalCount"/>
        <result property="userId" column="userId"/>
        <result property="createTime" column="createTime"/>
        <result property="editTime" column="editTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,spaceName,spaceLevel,spaceType,maxSize,maxCount,totalSize,
        totalCount,userId,createTime,editTime,updateTime,
        isDelete
    </sql>
</mapper>
